
*{
    margin: 0px auto;
    padding: 0px;
    text-decoration: none;
}
.f{
    position: relative;
    top: 60px;
    left: 15%;
    width: 1277px;
    height: 837px;
    background-color:#FFFFFF;
}
.title{
    position: absolute;
    width: 1277px;
    height: 76px;
    background: red;
}
#title{
    position: absolute;
    top: 17px;
    left: 50px;
    font-size: 30px;
    color: aliceblue;
}
#title:hover{
    cursor: pointer;
}
#logo{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 37px;
    height: 37px;
}
#logo,#z1,#y1,#mkf,#tx,#name,#xl,#hy,#pf,#sz,#xx,#zxh,#hy1,#zdh,#gb:hover{
    cursor: pointer;
}
#z1{
    position: absolute;
    top: 25px;
    left: 250px;
    width: 37px;
    height: 37px;
}
#y1{
    position: absolute;
    top: 25px;
    left: 280px;
    width: 37px;
    height: 37px;
}
.search{
    position: absolute;
    top: 25px;
    left: 320px;
    background: #e13e3e;
    border-radius: 20px;
    width: 200px;
    height: 35px;
    border: none;
}
input{
    position: absolute;
    top: 4px;
    left: 40px;
    width: 140px;
    height: 25px;
    font-size: 20px;
    background-color: #e13e3e;
    color: #f6aaaa;
    outline: none;
    border-style: none;
    
}
#ss{
    width: 37px;
    height: 37px;
}
#mkf{
    position: absolute;
    top: 28px;
    left: 540px;
}
#tx{
    position: absolute;
    top: 22px;
    left: 660px;
}
#name{
    position: absolute;
    top: 25px;
    left: 705px;
    font-size: 20px;
    color: aliceblue;
}
#xl{
    position: absolute;
    top: 35px;
    left: 770px;
    width: 20px;
    height: 20px;
}
#hy1{
    position: absolute;
    top: 28px;
    left: 800px;
    width: 80px;
    height: 30px;
}

#pf{
    position: absolute;
    top: 28px;
    left: 885px;
    width: 30px;
    height: 30px;
}
#sz{
    position: absolute;
    top: 28px;
    left: 935px;
    width: 30px;
    height: 30px;
}
#xx{
    position: absolute;
    top: 28px;
    left: 995px;
    width: 30px;
    height: 30px;
}
#sx{
    position: absolute;
    top: 28px;
    left: 1050px;
    width: 25px;
    height: 30px;
}
#zxh{
    position: absolute;
    top: 28px;
    left: 1100px;
    width: 40px;
    height: 25px;
}
#zdh{
    position: absolute;
    top: 28px;
    left: 1160px;
    width: 30px;
    height: 25px;
}
#gb{
    position: absolute;
    top: 28px;
    left: 1220px;
    width: 25px;
    height: 25px;
}
#fxyy{
    font-size: 30px;
    color: black;
    background-color: #EEE9E9;
}
#fxyy:hover{
    cursor: pointer;
}
#bk:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}
#sp:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}
#gz:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}#zb:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}#fm:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}#my:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}#bd:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}#cold:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}#mybk:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}#mysc:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}#cj:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}#mylove:hover{
    cursor:pointer;
    background-color: #EEE9E9;
}
.zc{
    position: absolute;
    top: 76px;
    left: 0px;
    width: 250px;
    height: 673px;
    background-color:#FFFFFF;
    font-size: 20px;
    line-height: 52px;
    color: #363636;
    border: 0.5px solid gray;
    border-left: none;
}

#my,#cj{
    font-size: 20px;
    color: gray;
}
.yc1{
    position: absolute;
    padding: 20px ;
    top: 76px;
    left: 250px;
    display: flex;
    font-size: 25px;
}
#gx{
    margin: 10px;
    font-size: 35px;
}
#zs,#gd,#phb,#singer,#new{
    margin: 20px 10px;
}
.yc2{
    position: absolute;
    top: 70px;
    left: 515px;
}
#gx,#zs,#gd,#phb,#singer,#new,#y2,#tj,#y10,#y3,#y4,#y5,#y6,#y7,.y3,.y4,.y5,.y6,.y7,.d,.xh,#hy,#lb:hover{
    cursor: pointer;
}
.yc3{
    position: absolute;
    top: 480px;
    left: 290px;
}
#tj{
    font-size: 30px;
}
#y10{
    position: absolute;
    top: 2px;
    left: 105px;
    width: 40px;
    height: 40px;
}
.y7{
    position: absolute;
    top: 45px;
    left: -15px;
}
#y7{
    position: absolute;
    top: 220px;
    left: 5px;
    font-size: 20px;
    width: 140px;
}
#y6{
    position: absolute;
    top: 220px;
    left: 440px;
    width: 140px;
    font-size: 20px;
}
#y5{
    position: absolute;
    top: 220px;
    left: 600px;
    width: 160px;
    font-size: 20px;
}
#y4{
    position: absolute;
    top: 220px;
    left: 200px;
    width: 140px;
    font-size: 20px;
}
#y3{
    position: absolute;
    top: 220px;
    left: 820px;
    width: 140px;
    font-size: 20px;
}
.y4{
    position: absolute;
    top: 45px;
    left: 200px;
}
.y5{
    position: absolute;
    top: 45px;
    left: 400px;
}
.y6{
    position: absolute;
    top: 45px;
    left: 600px;
}
.y3{
    position: absolute;
    top: 45px;
    left: 800px;
}
#mt{
    position: absolute;
    top: 220px;
    left: 100px;
    display: flex;
}
.y11{
    position: absolute;
    top: 750px;
}
.d{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 280px;
    height: 85px;
}
.xh{
    position: absolute;
    top: 10px;
    left: 280px;
    width: 30px;
    height: 30px;
}
audio{
    position: absolute;
    top: 0px;
    left: 300px;
    width: 700px;
    height: 80px;
    
}
#bdt{
    position: absolute;
    top: 35px;
    left: 1010px;
    width: 30px;
    height: 30px;
}
#hy{
    position: absolute;
    top: 35px;
    left: 1090px;
    width: 30px;
    height: 30px;
}
#lb{
    position: absolute;
    top: 35px;
    left: 1185px;
    width: 30px;
    height: 30px;
}